.TransactionCard {
  width: 640px;
  padding: 15px;
  border: 2px solid;
  border-bottom: 0;
  transition: 250ms;
  overflow: hidden;
}

.TransactionCard:last-child {
  border-bottom: 2px solid;
}

.TransactionCard-init {
  height: 0
}

.TransactionCard-displayed {
  height: 100
}
